<%- include('partials/header', { title, slug }) %>

<main class="markdown"><%- content %></main>

<% if (extraContent) { %>
<hr />
<div class="extra"><%- extraContent %></div>
<% } %> <%- include('partials/footer') %>
